
// color
$base-light:#fff;
$base-dark:#000;

$primary-1:#013157;
$primary-2:#075da2;
$primary-3:#1b7fd0;
$primary-4:#caddea;
$primary-5:#0983e5;
$primary-6:#fdf9f1;

$primary-y:#ffc22e;
$order-color:#dd0000;

//font
$font-regular:'Roboto-Regular';
$font-thin:'Roboto-Thin';
$font-medium:'Roboto-Medium';
$font-bold:'Roboto-Bold';
$font-narrow: 'Arial Narrow';
$font-narrow-bold: 'ArialNarrow-Bold';
$font-rajdhani-bold: 'Rajdhani-Bold';
